
body{
	min-width: 100%;
	margin: 0;
	padding: 0;
}
.logut{
	    background: #3aef34;
    color: #014B63;
    border: 1px solid #3aef34;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    z-index: 5;
    margin-top: 7px;
    margin-right: -1px;
    width: 91px;
    height: 25px;
}
.linktosignup,.linktosignup:hover{
	color: white;
}
.mainback{
	background-image: url('../photos/2.jpg');
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    z-index: -1;
  
}

.mainblack{
    
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.90);
	z-index: 0;
	
}

.clogo{
	width: 23%;
	margin-left: 2%;
	height: 125px;
	z-index: 0;
	float:left;
}
.loginname{
	color:white;
	font-size: 25px;
	text-align: center;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	border-right: 4px solid white;
	border-left: 4px solid white;
	border-bottom: 7px solid white;
	border-radius: 5px;
	width:10%;
	float: right;
    z-index: 0;
	margin-right:3%;
}
.black{
  width: 100%;
  position: relative;
  height: 300px;
  z-index: 1;
  background-color: rgba(0,0,0,.60);
}

.logo{
	width: 100%;
	height: 22vh;
	margin:auto;

}

.col1{
	width: 26%;
	height: 22vh;
	margin:0 auto;
	
}
.row1{
	width: 100%;
	height: 22vh;

}
.row2{
	text-align: center;
	height: 80vh;
	width: 100%;
	
}
.col2{
	color: white;
	height: 70vh;
	width: 40%;
	margin: 0 auto;
	border: 3px solid white;
	border-radius: 10px;
	
}
#col2{
	height: 100vh;
}
.row21{
   
	font-size: 28px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	margin-top:20px;
}
#row2{
    height: 105vh;

}

.logintab{
	margin-top: 1vh;
   width: 100%;

 
   
}
.row22{
	margin:0 auto;
	width: 80%;
}
td{
	padding:20px;
}
.inputs{
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
}
.logbtn{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}
a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
 
}

#main
{ width: 100%;
 }

#logo
{ width: 100%;
  position: relative;
  height: 300px;
  background: url(../images/2.jpg);
  background-position:center;
  z-index: -1; }

#menubar
{ width: 100%;
  height: 35px;
  padding: 8px 0 0 0;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 1;
  float: right;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0em;
  font: normal 105% arial, sans-serif;
  text-transform: uppercase;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  border: 0;} 

ul#menu li.selected a
{ height: 25px;
  color: #111;
  padding: 7px 22px 5px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #F8F8F8;

}

ul#menu li a:hover
{ color: #888;}

#footer
{ width: 100%;
  height: 33px;
  padding: 20px 0 4px 0;
  text-align: center; 
  background: #555;
  color: #AAA;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 80%;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;
}

.res{
	color:red;
	font-size: 22px;
	margin-top: 1vh;
}


.maincontent{
	height: 120vh;
	width: 100%;
	display: flex;
}
.lbar{
	width:70%;
    height: 120vh;
}
.rbar{
	width: 30%;
	height: 113vh;
	border-right: 3px solid #076f91;
	margin-top: 25px;
}
#sbar{
	border:1px solid black;
}
#sbtn{
	background-color:#A10507;
	color: white;
	text-shadow: 0 -1px 0 #000;
	border:1px solid #A10507;
	border-radius: 3px;
	width:24%;
	height: 5.9vh;
	
}
#sbar{
	background-color: white;
	color: black;
	border:1px solid #014B63;
	border-radius: 3px;
	width:73%;
	height: 5vh;
	box-shadow: 2px 2px 5px #00A1B4;
    
}
.searchbar{
	
	padding-top: 6%;
	width: 86%;
	margin:0 auto;
}
.searchtbl{
	background:linear-gradient(#A10507,#ff5601);
	color: white;
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	

}

.searchtabl{
	background:linear-gradient(to right,#014B63,#00A1B4);
	color: white;
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	
	

}
.reqaccept{
	width:86%;
	height: 102vh;
	margin:0 auto;
	margin-top: 48px;

}
.row{
	padding: 8px;
}


#abtn{
	width:100%;
	background-color: #cae0c3;
	border:1px solid #cae0c3;
	border-radius: 5px;

}
#dropdown{
	position: absolute;
	z-index: 2;
}

#head{
	position: relative;
	z-index: 1;
}

.pst{
	width: 98%;
	height: 110vh;
    margin: 0 auto;

}
.writepost{
	border:2px solid #014B63;
	border-radius: 3px;
	height: 10vh;
	width:90%;
	

}
.postbtn{
	height: 5vh;
	background-color: #A10507;
	border:1px solid #A10507;
	border-radius: 3px;
	margin-top: 3vh;
	margin-left: 1%;
	width:9%;
	color: white;


}
.sharebar{
	width: 90%;
	margin: 0 auto;
	margin-top: 3vh;
	display: flex;
}

.mainpost{
	width: 90%;
	height: 95vh;
	margin: 0 auto;
	overflow-y: scroll; 
	overflow-x: none;
	margin-top: 20px; 
}
.upost{
	height: 25px;
	width: 97.5%;
	font-size: 22px;
	padding: 10px;
	background:linear-gradient(to right,#014B63,#00A1B4);
	color: white;
	display: flex;

}
.tpost{
  width: 97.5%;
  font-size: 11px;
  margin-top: 3px;
  padding-left: 15px;
  color: grey;
}
.cpost{
  width:97.5%;
  font-size: 16px;
  padding-left: 18px;
  
}
.whole{
	width: 99%;
	border:2px solid #014B63;
	border-radius: 5px;
	margin-bottom: 8px;
}

#headuid{
	font-size: 15px;
	padding-top: 4px;
}	
	
#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #00A1B4;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

.mainconten{
	width: 100%;
	height: 120vh;

}

.events{

	width: 90%;
	height: 100vh;
	margin:0 auto;
	margin-top: 10vh;
	display: flex;
	background:linear-gradient(to right,#114357,#f29492);
}
.studentchap{
	width:33.3%;
	
	height:100vh;
}
.curricular{
	width: 33.3%;
	
	height: 100vh;
}
.election{
	width: 33.3%;
	height:100vh;

}
.heading{
	color: white;
	background-color: #141419;
	padding: 7px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.scontent{
	height: 92vh;
	overflow-y: scroll;
}
.ccontent{
	height: 92vh;
	overflow-y: scroll;
}
.econtent{
	height: 92vh;
	overflow-y: scroll;
}
.eventmain{
	width:90%;
	margin: 0 auto;
}
.rem{
	height: 11.7vh;
	width: 100%;
	background:white;
	margin:0 auto;
	display: flex;
	border:3px solid white;
	border-radius: 52px;
	margin-top: 5px;
}
.ddate{
	width: 21%;
	height: 11vh;
	background-color: #114357;
	border:1px solid #114357;
	border-radius: 52px;
	font-size: 61px;
	font-weight: bold;
	color: white;
	text-align: center;

}
.inhead{
	width: 70%;
	font-size: 20px;
	font-weight:bold;
	height: 4vh;
	text-align: center;
	margin: 0 auto;
	background-color: #114357;
	border:1px solid #114357;
	border-radius: 5px;
	color: white;
}
.rrem{
	width: 70%;
}

.inmonth{
	color: #114357;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
}
.intime{
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
}
#intimes{
	margin-left: 17%;
}
.downarrow{
	float: right;
	height: 2vh;
}
.moreinfo{
	background-color: #114357;
	color:white;
	border:1px solid #114357;
	border-radius: 52px;
	height: auto;
	width:75%;
	margin: 0 auto;
	text-align: center;
	margin-left: 25%;
	
}
#stdback{
	border:1px solid #f29492;
}

.exam{
	width: 90%;
	height: 100vh;
	margin:0 auto;
	margin-top: 10vh;
	display: flex;
	background:linear-gradient(to right,#114357,#f29492);
	margin-bottom: 10vh;
}
.result{
	width: 50%;
	 
}

.upcoming{
	width: 50%; 
}
.ucontent{
	 width: 100%; 
	 height: 92vh;
	overflow-y: scroll;
}

.rcontent{
	 width: 100%;
	 height: 92vh;
	overflow-y: scroll;
}
#examrem{

	width:90%;
}
#exdate{
	
	width:16%;	 
	height: 11.4vh;
	 
}
.rebut{
	background-color: #A10507;
	border: 1px solid #A10507;
	color: white;
	border-radius: 3px;
}
.rebut2{
	background-color: #A10507;
	border: 1px solid #A10507;
	color: white;
	border-radius: 3px;
	float: right;
}

#resbtn{
	 
	margin: 0 auto;
	width:15%;
}
#stdback2{
	width:74%;
	margin-left: 21%;
}

.currimain{
	width: 100%;
	height: 120vh;
	background-color: black;
}
.curriframe{
	width: 90%;
	height: 63vh;
	margin: 0 auto;
	padding-top: 5vh;
	display: flex;
}
.lside{
	height: 100vh;
	width: 20%;
}
.rside{
	height: 100vh;
	width: 80%;
}
.rside2{
	height: 100vh;
	width: 100%;
}
.lleft{
	text-align: center;
	padding: 6%;
}
.photo{
	width: 73%;
	height: 44vh;
	margin: 0 auto;
}
.intro{
	width: 33%;
	height: 56vh;
}
.photos{
	width: 100%;
	height: 44vh;
	border: 1px solid black;
	border-radius: 197px;
	box-shadow: 4px 4px 10px rgba(255,255,255,0.5);
	margin: 0 auto;
}
.name{
	width: 80%;
	background-color: black;
	color: white;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.webhead{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 5vh;
	color:white;
}
.contact{
	width: 73%;
	height: 10vh;
	margin: 0 auto;
	padding-top: 5vh;
	color: white;
	text-align: center;
}

@media(min-width: 321px) and (max-width: 1050px)
{
	li{
		width:100%;
		background-color: #014B63;
		color: white;
		font-weight: bold;


	}
	.selected li{
		background-color: white;
		color:black;
	}
	#menubar{
		width: 100%;
		display: block;
		float:none;
	}
	ul#menu{
		float: none;
		margin: 0 auto;
		width: 100%;
		padding: 0;
		}

	 .maincontent{
	 	display: block;
	 }
	 .lbar{
	 	width: 100%;


	 }
	 .mainpost{
	 	height: 80vh;
	 	width: 98%;
	 }
	 .rbar{
	 	width: 100%;
	 	height: auto;
	 	
	 }
	 .reqaccept{
	 	min-height: 10vh;
	 	max-height: 26vh;
	 	width: 98%;
	 	border:3px solid #014B63;
	 	border-radius: 5px;
	 	overflow-y: scroll;
	 }
	  .rbar{
    	border:none;
    }
    .writepost{
    	width: 81%;
    }
    .postbtn{
    	width: 15%;
    }
    .maincontent{
    	height: 150vh;
    	margin-top: 24vh;
    }
    .lbar{
    	height: 99vh;
    }
    .mainconten{
    	height: 191vh;
    }
	.events{

	width: 99%;
	height: 167vh;	
	display: block;
	margin-top: 24vh;
}
.studentchap{
	width:100%;
	height:55vh;
}
.curricular{
	width:100%;
	height:55vh;
}
.election{
	width:100%;
	height:55vh;

}
.scontent{
	height: 47vh;
	
}
.ccontent{
	height: 47vh;
	
}
.econtent{
	height: 47vh;

}
.col1{
	width: 55%;
}
.exam{
	display: block;
	height: 153vh;
	margin-top: 27vh;
	width: 100%;
	margin-bottom: 0;
}
.result{
	width: 100%;
	height: 76vh;
}
.upcoming{
	width: 100%;
	height: 76vh;
}
.rcontent{
	height: 66vh;
}
.ucontent{
	height: 67vh;
}
#exdate{
	width: 23%;
	height: 12.4vh;
	padding-top: 2px;
}
#examrem{
	height: 13vh;
}
.rem{

	height: 13.3vh;
}
.ddate{
	padding-top: 5px;
	width: 24%;
}
.curriframe{
	display: block;
	height: 177vh;
}
.intro{
	width: 99%;
}
.photo{
	width: 80%;
}
.currimain{
	height: 215vh;
	margin-top: 24vh;
}
.selected{
	border: 3px solid #014B63;
}


	

}
@media(min-width: 623px) and (max-width: 924px){

    .loginname{
    	width: 20%;
    	margin-right: 2%;
    }
     .clogo{
    	width: 32%;
    
    }
    .rbar{
    	border:none;
    }
    .sharebar{
    	width: 100%;
    }


}
@media(min-width: 321px) and (max-width: 622px){

    .loginname{
    	width: 20%;
    	margin-right: 2%;
    	font-size: 15px;
    }
    .clogo{
    	width: 40%;
    	height: 86px;
    }
    #logo{
    	height: 238px;
    }
    .black{
    	height: 238px;
    }
     .rbar{
    	border:none;
    }
    .sharebar{
    	width: 100%;
    }
    .upost{
    	width: 93.5%;
    	font-size: 18px;
    }
    .whole{
    	width: 97%;
    }
    .cpost{
    	width: 93.5%;
    }
    .tpost{
    	width: 93.5%;
    }
    #headuid {
    font-size: 14px;
    padding-top: 2.75px;
	}
	.ddate{
		height: 12.6vh;
		font-size: 50px;
	}
	.rem{
		height: 13.4vh;
	}
	.col2{
	width: 97%;
}
	td{
	padding: 0px;
	}
	.row22{
		width: 98%;
	}


}